body {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

main{
  /* background-image: linear-gradient(to top, rgb(151, 151, 255), white); */
}

.weather-card{
    max-width: 11rem;
}

@media only screen and (max-width: 417px) {
    .weather-card{
        max-width: 19rem;
    }
    
}
